/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Teko';
    /* Name your font family */
    src: url('/src/assets/fonts/OswaldFont/Oswald-VariableFont_wght.ttf');
    /* Locate the .ttf file within your directory*/
}

    /* 
    <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 300 to 700
    */

.teko-font {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: "Black Ops One", system-ui;
}

:root {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --chariction-color: #303841;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
}

button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
}